body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face { font-family: 'VarinonormalRegular'; 
  src: local('VarinonormalRegular'), url('./assets/fonts/VarinonormalRegular-1GXaM.ttf') format("truetype") } 
h2{
font-family: roboto-regular;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
iframe{
  position: relative !important;
}
.Toastify__toast--error{
background-color: #e74c3d !important;
color:white !important;
}
.Toastify__toast--success{
  background-color: #0abc0a !important;
  color:white !important;
  }
  .react-datetime-picker__calendar--open .react-calendar,.react-datetime-picker__clock--open{
    border: 0.1rem solid #d4d4d4 !important;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 4px 8px rgb(0 0 0 / 6%), 0 8px 12px rgb(0 0 0 / 12%), 0 12px 16px rgb(0 0 0 / 18%);;
  }
  .react-calendar__month-view__weekdays__weekday{
    color: #00bcd4 !important;
  }
  .react-calendar__month-view__days__day,.react-calendar__navigation__label__labelText{
    font-weight: bold;
  }
