body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face { font-family: 'VarinonormalRegular'; 
  src: local('VarinonormalRegular'), url('./assets/fonts/VarinonormalRegular-1GXaM.ttf') format("truetype") } 
h2{
font-family: roboto-regular;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
iframe{
  position: relative !important;
}
.Toastify__toast--error{
background-color: #e74c3d !important;
color:white !important;
}
.Toastify__toast--success{
  background-color: #0abc0a !important;
  color:white !important;
  }
